/*forside -----------------*/
body a {
    text-decoration: none; /* Fjerner stregen under link */
}

button {
    background-color: #04AA6D;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 15px 32px;
}

button:hover {
    text-decoration: underline;
}


a:hover {
    text-decoration: underline;
}


body {
    font-family: Helvetica, serif;
    margin: 0;
    padding: 0;
}

.nav {
    background-color: #04AA6D;
    display: flex;
    justify-content: space-between;
}

.logo {
    bottom: 5px;
    margin-left: 30px;
    margin-top: 15px;
    position: relative;
    width: 100px;

}

.nav ul a {
    color: white;
    font-size: 20px;
    font-style: oblique;
    font-weight: bold;
    margin: 20px;
}


.nav ul {
    display: flex;
    list-style: none;

    margin-top: 40px;
    padding: 0;
}

.hero {
    margin-top: 20px;
}

.hero button { /*LÆS MERE*/
    background-color: #04AA6D;
    border: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    left: 50%;
    padding: 15px 32px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, 300%);
}

.hero img {
    height: 60vh;
    width: 100%;
    /*border: black 2px solid;*/
}

.hero h1 { /*SAMMEN MOD MADSPILD*/
    background-color: #04AA6D;
    color: white;
    font-size: 50px;
    padding: 10px;
    position: absolute;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    transform: translate(65%, 200%);

}

.line {
    background-color: #04AA6D;
    border: #04AA6D solid 7px;
}

.header .line {
    bottom: -20px;
    position: relative;
}

.statistics {
    display: flex;
    justify-content: space-between;
}

h2 {
    text-align: center;
}

.stat-card {
    align-content: center;
    background-color: #04AA6D;
    border: 2px solid #73AD21;
    border-radius: 100px;
    box-shadow: -5px -5px 30px 10px lightblue;
    color: white;
    font-weight: bold;
    height: 500px;
    justify-content: center;
    line-height: 3;
    margin: 30px;
    text-align: center;
    width: 400px;
}

.stat-card p {
    font-size: 20px;
    padding: 10px;
    text-shadow: 2px 2px 4px #000000;
}

.section2 {
    display: flex;
}


#animated-img {
    clip-path: circle(40%);
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.4));
    float: left;
    margin-left: 30px;
    margin-top: 10px;
    shape-outside: circle(45%);
}

.linkbox {
    font-size: 20px;
    height: 200px;
    margin-top: 150px;
    width: 300px;
}

.linkbox ul a {
    line-height: 3;

}

footer {
    background-color: #04AA6D;
    height: 100px;
    width: 100%;
}

.practicalinfo {
    color: white;
    font-size: 14px;
    line-height: 2;
    list-style-type: none;
    padding-top: 6px;
}

/*forside -----------------*/

/*events  -----------------*/
.events {
    display: flex;
    justify-content: center;
    line-height: 40px;
    margin-bottom: 210px;
    margin-top: 20px;

}


.event {
    border: #04AA6D solid 2px;
    margin: 10px;
    padding: 30px;
}


.event button:hover {
    text-decoration: underline;
}
/*events  -----------------*/

/*tilmeld -----------------*/
#form {
    align-content: center;
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    margin-top: 40px;
}
/*tilmeld -----------------*/

/*om os*/

.statistics2 {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
}

@media (min-width: 100px) {
    .statistics2.reverse {
        flex-direction: row-reverse;
    }
}

.stat-card2 {
    align-content: center;
    background-color: #04AA6D;
    border: 2px solid #73AD21;
    border-radius: 100px;
    box-shadow: -5px -5px 30px 10px lightblue;
    color: white;
    font-weight: bold;
    height: auto;
    justify-content: center;
    line-height: 3;
    margin: 30px;
    margin-top: 100px;
    max-width: 900px;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.historie-billede {
    border-radius: 20px;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    max-width: 600px;
    width: 100%;
}

.stat-card3 {
    align-content: center;
    background-color: #04AA6D;
    border: 2px solid #73AD21;
    border-radius: 100px;
    box-shadow: -5px -5px 30px 10px lightblue;
    color: white;
    font-weight: bold;
    height: auto;
    justify-content: center;
    line-height: 3;
    margin: 40px;
    padding-bottom: 50px;
    text-align: center;
    width: 800px;
}

.stat-card4 {
    align-content: center;
    background-color: #04AA6D;
    border: 2px solid #73AD21;
    border-radius: 100px;
    box-shadow: -5px -5px 30px 10px lightblue;
    color: white;
    font-weight: bold;
    height: auto;
    justify-content: center;
    line-height: 3;
    margin: 40px;
    padding-bottom: 50px;
    text-align: center;
    width: 600px;
}
